---
title: General User Ranking
layout: /default.slim
---

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="user-ranking"
]
  ruby:
    code_users, totals_code, = user_ranking_code
    hack_users, totals_hack = user_ranking_hack
    vbd_users, totals_vbd = user_ranking_vbd

    general_users = add_hashes(code_users, hack_users)
    general_users = add_hashes(general_users, vbd_users)
    general_users = add_percentage(general_users)
    position_general = get_ranking(general_users)

    totals_general = add_hashes(totals_code, totals_hack)
    totals_general = add_hashes(totals_general, totals_vbd)

    content_for :table_total_msg, "#{totals_general['sltns']}
      total solved challenges"

  thead
    tr
      th.one.wide
        center
          | Position
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Position in ranking based on Unique solutions and
          Unique solutions percentage" ]
            i.question.circle.outline.icon

      th
        center
          | Username
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="user's username" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of solutions with no external solutions" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges solved by the user" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions percentage
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Unique solutions compared to all solutions" ]
            i.question.circle.outline.icon

      th
        center
          | Websites
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenge sites with at least one solution \
          from the user" ]
            i.question.circle.outline.icon

      th
        center
          | Certificate
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Download certificate of you solutions and ranking" ]
            i.question.circle.outline.icon

  tbody
    - general_users.each_key do |key|
      - prcntg = general_users[key]['unique-sltns-prcntg'].to_s
      tr
        td.one.wide
          center #{get_position(key, position_general)}
        td
          center
            a href="./users/#{key}" #{key}
        td
          center #{general_users[key]['unique-sltns']}
        td
          center #{general_users[key]['sltns']}
        - if general_users[key]['unique-sltns-prcntg'] >= 80
          td.positive
            center #{prcntg}%
        - elsif general_users[key]['unique-sltns-prcntg'] >= 60
          td.warning
            center #{prcntg}%
        -else
          td.negative
            center #{prcntg}%
        td
          center #{general_users[key]['npages']}
        td
          center
            button.ui.icon.button
              i.arrow.alternate.circle.down.icon
  tfoot
    tr
      th.one.wide
        center Totals
      th
        center -
      th
        center #{totals_general['unique-sltns']}
      th
        center #{totals_general['sltns']}
      th
        center -
      th
        center #{totals_general['npages']}
      th
        center -

script src="./scripts/certificate.js"
