---
title: Language Ranking
layout: /default.slim
---

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="language-ranking"
]
  ruby:
    info_lang, totals_lang = langs_table
    content_for :table_total_msg, "#{totals_lang['sltns']}
     total solutions"
  thead
    tr

      th.one.wide.sorter-false
        center
          | Position
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Position in ranking based on Solutions
          and Internal solutions" ]
            i.question.circle.outline.icon

      th
        center
          | Language
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Name of the programming language" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Solutions associated to challenges that do
            not have external solutions
            in the same language" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of internal and external solutions" ]
            i.question.circle.outline.icon

      th
        center
          | Internal solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Solutions made in the language" ]
            i.question.circle.outline.icon

      th
        center
          | External solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="External solutions referenced in others.lst" ]
            i.question.circle.outline.icon

  tbody
    - info_lang.each_key do |key|
      - unless info_lang[key]['sltns'].zero?
          tr
            td.one.wide
              center -
            td
              center
                a[
                  href="#{info_lang[key]['url']}"
                  target="_blank"
                ] #{info_lang[key]['name']}
            td
              center #{info_lang[key]['unique-sltns']}
            td
              center #{info_lang[key]['sltns']}
            td
              center #{info_lang[key]['int-sltns']}
            td
              center #{info_lang[key]['ext-sltns']}

  tfoot
    tr
      th.one.wide
        center Totals
      th
        center -
      - totals_lang.each_key do |key|
        th
          center #{totals_lang[key]}

css:
  ul {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
  }
