---
title: Unsupported Languages
layout: /default.slim
---

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="unsupported-languages"
]
  ruby:
    info_lang, value, reasons_counter = langs_dropped_table
    content_for :table_total_msg, "#{value} unsupported languages"
  thead
    tr
      th
        center
          | Language
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Name of the programming language" ]
            i.question.circle.outline.icon

      th
        center
          | Reason
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Reasons why the language was rejected" ]
            i.question.circle.outline.icon

      th
        center
          | Description
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Description of the reason why the language
           is rejected" ]
            i.question.circle.outline.icon

  tbody
    - info_lang.each_key do |key|
        tr
          td
            center
              a[
                href="#{info_lang[key]['url']}"
                target="_blank"
              ] #{info_lang[key]['name']}
          td
            center #{{info_lang[key]['reasons'].join('<br/>')}}
          td
            center #{{info_lang[key]['description']}}

br

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="auxiliar-table"
]
  thead
    tr
      th
        center
          | Reason
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Reasons why the language was rejected" ]
            i.question.circle.outline.icon

      th
        center
          | Number of times used
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of times the reason was used to reject
            languages" ]
            i.question.circle.outline.icon

  tbody
    - reasons_counter.each do |name|
        tr
          td
            center #{{name[0]}}
          td
            center #{{name[1]}}

  tfoot
    tr
      th
        center Total languages analyzed
      th
        center #{value}

css:
  td {
    max-width: 500px;
  }
  table#auxiliar-table {
    table-layout: fixed ;
    width: 100% ;
  }
