---
title: Hack User Ranking
layout: /default.slim
---

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="user-ranking"
]
  ruby:
    users, totals = user_ranking_hack
    position = get_ranking(users)

    content_for :table_total_msg, "#{totals['sltns']}
      total solved challenges"
  thead
    tr

      th.one.wide.sorter-false
        center
          | Position
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Position in ranking based on Unique solutions and
          Unique solutions percentage" ]
            i.question.circle.outline.icon

      th
        center
          | Username
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="user's username" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of solutions with no external solutions" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges solved by the user" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions percentage
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Unique solutions compared to all solutions" ]
            i.question.circle.outline.icon

      th
        center
          | Days
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Days since the last commit" ]
            i.question.circle.outline.icon

      th
        center
          | Websites
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenge sites with at least one solution \
          from the user" ]
            i.question.circle.outline.icon

  tbody
    - users.each_key do |key|
      - prcntg = users[key]['unique-sltns-prcntg'].to_s
      tr
        td.one.wide
          center #{get_position(key, position)}
        td
          center
            a href="../users/#{key}" #{key}
        td
          center #{users[key]['unique-sltns']}
        td
          center #{users[key]['sltns']}
        - if users[key]['unique-sltns-prcntg'] >= 80
          td.positive
            center #{prcntg}%
        - elsif users[key]['unique-sltns-prcntg'] >= 60
          td.warning
            center #{prcntg}%
        -else
          td.negative
            center #{prcntg}%
        td
          center #{calc_days(users[key]['last-sltn-date'])}
        td
          center #{users[key]['npages']}
  tfoot
    tr
      th.one.wide
        center Totals
      th
        center -
      th
        center #{totals['unique-sltns']}
      th
        center #{totals['sltns']}
      th
        center -
      th
        center -
      th
        center #{totals['npages']}
