doctype html
html
  head
    title #{@item[:title]}
    - favicon = relative_path_to('/gallery/favicon.png')
    meta content='template language' name='keywords'
    link[
      rel="shortcut icon"
      type="image/x-icon"
      href=favicon
      sizes="16x16"
    ]
    - url = 'https://cdnjs.cloudflare.com/ajax/libs'
    - url_tsorter = "#{url}/jquery.tablesorter/2.31.1/js"
    script src="#{url}/jquery/3.3.1/jquery.min.js"
    script src="#{url_tsorter}/jquery.tablesorter.js"
    script src="#{url_tsorter}/jquery.tablesorter.widgets.js"
    script src="#{url}/semantic-ui/2.4.1/semantic.min.js"
    script src="#{url}/qrious/4.0.2/qrious.min.js"
    script src="#{url}/jspdf/1.3.4/jspdf.min.js"

    link[
      href="#{url}/semantic-ui/2.4.1/semantic.min.css"
      rel="stylesheet"
      type="text/css"
    ]
    css:
      @import
        url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

      .move-down {
        bottom: 3%;
        margin-bottom: 0;
        position: fixed;
      }
      .ui.large.label, .ui.large.labels .label {
        padding-inline: 3rem;
      }
      .content > a.item {
        padding-bottom: 2% !important;
        padding-top: 2% !important;
      }
      .seventeen {
        text-align: center;
      }
      .fourteen {
        background-color: #FAFAFA !important;
        border-radius: 0.5em !important;
      }
      .ui.grid {
        background-color: #E3E3E3;
        font-family: 'Dosis', sans-serif;
      }
      .ui.inverted.accordion .title:not(.ui) {
        color: #666666;
        font-family: 'Dosis', sans-serif;
      }
      .ui.vertical.tabular.menu .item {
        color: #666666;
        font-family: 'Dosis', sans-serif;
      }
      .ui.inverted.statistic .label,
      .ui.inverted.statistics .statistic > .label {
        color: #666666;
        font-family: 'Dosis', sans-serif;
      }
      body {
        font-family: 'Dosis', sans-serif;
      }

    javascript:
      var set_rankings_ran = false
      $(function() {

        // Set table position column
        $.tablesorter.addWidget({
          id: "setRankings",
          format: function(table) {
            if (!set_rankings_ran){
              for(var i=0; i < table.tBodies[0].rows.length; i++) {
                pos = i + 1
                pos_text = "<center>" + pos + "</center>"
                $("tbody tr:eq(" + i + ") td:first",table).html(pos_text);
              }
              set_rankings_ran = true
            }
          }
        });

        // Initialize accordion
        $('.ui.accordion.inverted')
          .accordion();

        // Tables column sorting precedence
        $("#sites-ranking").tablesorter({
          sortList: [[3,1],[8,0]],
          widgets: ['zebra','setRankings']
        });
        $("#user-ranking").tablesorter({
          sortList: [[0,0]],
          widgets: ['zebra','setRankings']
        });
        $("#language-ranking").tablesorter({
          sortList: [[3,0],[4,0]],
          widgets: ['zebra','setRankings']
        });
        $("#unsupported-languages").tablesorter({
          widgets: ['zebra']
        });
        $("#user-pages-t1").tablesorter({
          sortList: [[1,1],[3,1]],
          widgets: ['zebra']
        });
        $("#user-pages-t2").tablesorter({
          sortList: [[1,1],[3,1]],
          widgets: ['zebra']
        });
        $("#user-pages-t3").tablesorter({
          sortList: [[1,1],[3,1]],
          widgets: ['zebra']
        });
        $("#auxiliar-table").tablesorter({
          widgets: ['zebra']
        });
      });

  body
    .ui.padded.stackable.grid.equal.width

      .sixteen.wide.white.column
        - img = relative_path_to('/gallery/logo.png')
        a href="https://app.autonomicjump.com/" target="_blank"
          img.ui.medium.left.floated.image src="#{img}"

          .ui.small.right.floated.statistic.inverted

            .seventeen.wide.white.column
              a.ui.large.orange.label [
              href="https://docs.autonomicjump.com/"
              target='_blank'] DOCS

              .ui.divider.inverted

            .label #{@item[:title]}
            .label #{content_for(@item, :table_total_msg)}

      .two.wide.stretched.white.column

        .ui.fluid.vertical.inverted.large.tabular.menu

          .ui.accordion.inverted
            .active.title
              i.dropdown.icon
              b User Rankings
            .active.content
              a.item href="/" General
              a.item href="/user-ranking-code" Code
              a.item href="/user-ranking-hack" Hack
              a.item href="/user-ranking-vbd" VbD

          .ui.accordion.inverted
            .active.title
              i.dropdown.icon
              b Site Rankings
            .active.content
              a.item href="/sites-ranking-general" General
              a.item href="/sites-ranking-code" Code
              a.item href="/sites-ranking-hack" Hack
              a.item href="/sites-ranking-vbd" VbD

          .ui.accordion.inverted
            .active.title
              i.dropdown.icon
              b Others
            .active.content
              a.item href="/language-ranking" Language Ranking
              a.item href="/unsupported-languages" Unsupported Languages

      .fourteen.wide.column
        == yield
    == render '/default-footer.slim'
