css:
  .ui.footer.segment {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3%;
    margin-bottom: 0;
    background-color: #1b1c1d;
  }
  .full-center {
    margin: 0;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    text-align: center;
    transform: translateY(-50%);
  }
  .clear {
    clear: both;
    height: 3%;
  }
  .ui.segment,
  .ui.segments .segment {
    color: #666666;
    background-color: #E3E3E3 !important;
  }

.clear
.ui.footer.segment
  .full-center
    p Autonomic Mind - All rights reserved
