css:
  [data-tooltip]:hover::after {
    display: inline-block;
    content: attr(data-tooltip);
    white-space: pre;
    text-align: center;
  }

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="user-pages-t1"
]

  thead
    tr
      th
        center
          | Challenge type
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Code challenge or Hack challenge" ]
            i.question.circle.outline.icon

      th
        center
          | Position
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Position in ranking based on Unique solutions and
          Unique solutions percentage" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of sltns with no external sltns" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges solved by the user" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions percentage
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Unique sltns compared to all sltns" ]
            i.question.circle.outline.icon

      th
        center
          | Average solutions per hour
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Total solutions / Total effort time
          Total solutions: Total number of accepted solutions.
          Total effort time: Cumulative number of effort hours
          reported in the commit msg of each accepted challenges" ]
            i.question.circle.outline.icon

      th
        center
          | Autonomic Score
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Code solutions avg * 0.5 + Hack solutions avg * 0.7" ]
            i.question.circle.outline.icon

      th
        center
          | First Commit
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="User's first accepted commit" ]
            i.question.circle.outline.icon

      th
        center
          | Last Commit
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="User's last accepted commit" ]
            i.question.circle.outline.icon

      th
        center
          | Weeks
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Weeks between the first and last commit" ]
            i.question.circle.outline.icon

      th
        center
          | Websites
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenge sites with at least one solution \
          from the user" ]
            i.question.circle.outline.icon

  tbody
    - @item[:itemst1].each_value do |stat|
      - prcntg = stat[:'unique-sltns-prcntg'].to_s
      - next if stat[:name] == 'Total'
      tr
        td
          center
            - link = "/user-ranking-#{stat[:name].downcase}"
            a href="#{link}" #{stat[:name]}
        td
          center #{stat[:position]}
        td
          center #{stat[:'unique-sltns']}
        td
          center #{stat[:sltns]}
        - if stat[:'unique-sltns-prcntg'] >= 80
          td.positive
            center #{prcntg}%
        - elsif stat[:'unique-sltns-prcntg'] >= 60
          td.warning
            center #{prcntg}%
        - else
          td.negative
            center #{prcntg}%
        td
          center #{stat[:avg]}
        td
          center #{stat[:score]}
        td
          center #{stat[:first_sltn_date]}
        td
          center #{stat[:last_sltn_date]}
        td
          center #{calc_weeks(stat[:first_sltn_date], stat[:last_sltn_date])}
        td
          center #{stat[:npages]}

  tfoot
    - totals = @item[:itemst1][:general_users]
    - prcntg = totals[:'unique-sltns-prcntg'].to_s
    tr
      td
        center
          a href="/" #{totals[:name]}
      td
        center #{totals[:position]}
      td
        center #{totals[:'unique-sltns']}
      td
        center #{totals[:sltns]}
      - if totals[:'unique-sltns-prcntg'] >= 80
        td.positive
          center #{prcntg}%
      - elsif totals[:'unique-sltns-prcntg'] >= 60
        td.warning
          center #{prcntg}%
      - else
        td.negative
          center #{prcntg}%
      td
        center #{totals[:avg]}
      td
        center #{totals[:score]}
      td
        center #{totals[:first_sltn_date]}
      td
        center #{totals[:last_sltn_date]}
      td
        center #{calc_weeks(totals[:first_sltn_date], totals[:last_sltn_date])}
      td
        center #{totals[:npages]}

br

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="user-pages-t2"
]
  thead
    tr

      th
        center
          | Language
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Programming language used" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of sltns with no external sltns" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges solved by the user" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions percentage
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Unique sltns compared to all sltns" ]
            i.question.circle.outline.icon

  tbody
    - @item[:itemst2][:general_users].each do |_, stat|
      - prcntg = stat[:'unique-sltns-prcntg'].to_s
      tr
        td
          center
            a href="#{stat[:url]}" target="_blank" #{stat[:name]}
        td
          center #{stat[:'unique-sltns']}
        td
          center #{stat[:sltns]}
        - if stat[:'unique-sltns-prcntg'] >= 80
          td.positive
            center #{prcntg}%
        - elsif stat[:'unique-sltns-prcntg'] >= 60
          td.warning
            center #{prcntg}%
        - else
          td.negative
            center #{prcntg}%
  tfoot
    - totals = @item[:itemst2][:general_totals]
    - prcntg = totals[:'unique-sltns-prcntg'].to_s
    tr
      td
        center Total
      td
        center #{totals[:'unique-sltns']}
      td
        center #{totals[:sltns]}
      - if totals[:'unique-sltns-prcntg'] >= 80
        td.positive
          center #{prcntg}%
      - elsif totals[:'unique-sltns-prcntg'] >= 60
        td.warning
          center #{prcntg}%
      - else
        td.negative
          center #{prcntg}%

br

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="user-pages-t3"
]
  thead
    tr

      th
        center
          | Coding Sites
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Name and link to the coding site" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of sltns with no external sltns" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges solved by the user" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions percentage
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Unique sltns compared to all sltns" ]
            i.question.circle.outline.icon

  tbody
    - @item[:itemst3][:general_users].each_value do |stat|
      - prcntg = stat[:'unique-sltns-prcntg']
      - if stat[:category] == 'code'
        tr
          td
            center
              a href="#{stat[:url]}" target="_blank" #{stat[:'official-name']}
          td
            center #{stat[:'unique-sltns']}
          td
            center #{stat[:sltns]}
          - if stat[:'unique-sltns-prcntg'] >= 80
            td.positive
              center #{prcntg}%
          - elsif stat[:'unique-sltns-prcntg'] >= 60
            td.warning
              center #{prcntg}%
          - else
            td.negative
              center #{prcntg}%
  tfoot
    - totals = @item[:itemst1][:code_users]
    - prcntg = totals[:'unique-sltns-prcntg'].to_s
    tr
      td
        center Total
      td
        center #{totals[:'unique-sltns']}
      td
        center #{totals[:sltns]}
      - if prcntg.to_i >= 80
        td.positive
          center #{prcntg}%
      - elsif prcntg.to_i >= 60
        td.warning
          center #{prcntg}%
      - else
        td.negative
          center #{prcntg}%

br

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="user-pages-t3"
]
  ruby:
    totals_hack = @item[:itemst1][:hack_users]
    prcntg_hack = totals_hack[:'unique-sltns-prcntg']
    totals_vbd = @item[:itemst1][:vbd_users]
    prcntg_vbd = totals_vbd[:'unique-sltns-prcntg']
    total_prcntg = (prcntg_hack + prcntg_vbd) / 2
  thead
    tr

      th
        center
          | Hacking Sites
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Name and link to the Hacking sites" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of sltns with no external sltns" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges solved by the user" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions percentage
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Unique sltns compared to all sltns" ]
            i.question.circle.outline.icon

  tbody
    - @item[:itemst3][:general_users].each_value do |stat|
      - prcntg = stat[:'unique-sltns-prcntg']
      - if stat[:category] != 'code'
        tr
          td
            center
              a href="#{stat[:url]}" target="_blank" #{stat[:'official-name']}
          td
            center #{stat[:'unique-sltns']}
          td
            center #{stat[:sltns]}
          - if stat[:'unique-sltns-prcntg'] >= 80
            td.positive
              center #{prcntg}%
          - elsif stat[:'unique-sltns-prcntg'] >= 60
            td.warning
              center #{prcntg}%
          - else
            td.negative
              center #{prcntg}%
  tfoot
    tr
      td
        center Total
      td
        center #{totals_hack[:'unique-sltns'] + totals_vbd[:'unique-sltns']}
      td
        center #{totals_hack[:sltns] + totals_vbd[:sltns]}
      - if total_prcntg.to_i >= 80
        td.positive
          center #{total_prcntg}%
      - elsif total_prcntg.to_i >= 60
        td.warning
          center #{total_prcntg}%
      - else
        td.negative
          center #{total_prcntg}%
